@import 'bootstrap/dist/css/bootstrap.min.css';

*{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-light .navbar-nav .nav-link:hover {
   text-decoration: none; 
  border-bottom: 2px solid green;
  
 }